.ctrls {
    background-color: hsla($sec-hue,15%,15%,.95);
    border-radius: 3px;
    border-bottom-left-radius: 120px 3px;
    border-bottom-right-radius: 120px 3px;
    box-shadow:  0 1px 0 0 hsla($sec-hue,65%,65%,.15),
                0 1px 0 1px hsla($sec-hue,25%,45%,.5),
                inset 0 -2px 0 0 hsla($sec-hue,15%,5%,.35),
                inset 0 0 0 1px hsla($sec-hue,5%,0%,.35),
                inset 0 -60px 24px -60px hsla($sec-hue,5%,0%,.35),
                inset 0 1px 0 0px hsla(160,10%,10%,.5),
                inset 0 -1px 3px 0 hsla(210,50%,50%,.35);
    display: flex;
    flex: 0 0 50%;
    margin: 6px 6px -6px;
    padding: 3px 3px 12px;
    position: relative;
    width: auto;
    z-index: 4;

    @media (max-width: 1200px) {
        flex-direction: column;
        flex-wrap: wrap;

        @media (min-height: 600px) {
            flex: 0 0 55%;
        }

        @media (min-height: 700px) {
            flex: 0 0 60%;
        }        

        @media (min-height: 800px) {
            flex: 0 0 65%;
        }

        @media (min-height: 1000px) {
            flex: 0 0 70%;
        }

        @media (max-height: 650px) {
            margin: 3px 3px -6px;
            padding: 3px 3px 9px;
        }

        @media (max-width: 650px) {
            border-bottom-left-radius: 120px 3px;
            border-bottom-right-radius: 120px 3px;        
            box-shadow: none;
            margin: 1px 0 0;
            padding: 3px 3px 3px;
        }

        @media (max-width: 500px) {
            border-radius: 0;
            box-shadow: none;
            margin-bottom: 0;
            padding: 0;
        }
    }
}

.ctrls__col {
    background-image: linear-gradient(
        hsla($sec-hue,20%,20%,.35),
        hsla($sec-hue,25%,25%,.5) 55%       
    );
    border-radius: 1px;
    box-shadow: inset 0 0px 1px 0 hsla($sec-hue,35%,45%,.25),
                inset 0 -1px 0 0 hsla($sec-hue,15%,10%,.95),
                inset 0 0 0 .5px hsla($sec-hue,35%,65%,.1),
                0 0 12px 3px hsla($sec-hue,15%,5%,.25),
                0 6px 12px -3px hsla($sec-hue,15%,5%,.25);
    display: flex;
    flex: 1 0 33%;
    flex-direction: column;
    height: auto;
    margin: 3px 3px 0px;
    padding: 6px 6px;
    width: auto;

    &:nth-of-type(4n),
    &:nth-of-type(4n-1) {
        flex: 0 1 33%;
    }

    &:nth-of-type(4n-2) {
        @media (max-width: 650px) {
            display: none;
        }
    }

    &:nth-of-type(4n) {
        border-bottom-right-radius: 96px 3px;
    }

    &:nth-of-type(4n-3) {
        border-bottom-left-radius: 96px 3px;
    }

    @media (max-width: 1200px) {
        margin: 0px 6px 0px;
        padding: 6px 6px;

        &:nth-of-type(4n) {
            border-bottom-right-radius: 1px;
        }

        &:nth-of-type(4n-3) {
            border-bottom-left-radius: 1px;
            margin-top: 3px;
        }

        &:nth-of-type(4n) {
            border-bottom-left-radius: 96px 3px;
        }

        @media (max-width: 650px) {
            background-image: linear-gradient(
                hsla($sec-hue,20%,20%,.15),
                hsla($sec-hue,25%,25%,.35) 20%          
            );
            border-radius: 0;
            box-shadow: inset 0 -.5px 0px 0 hsla($sec-hue,35%,45%,.15),
                        inset 0 -1px 0 0 hsla($sec-hue,15%,10%,.85), 
                        0 0 3px 0 hsla($sec-hue,15%,15%,.25);
            flex: 0 1 33%;
            margin: 0;
            padding: 0 0 6px;

            &:nth-of-type(4n) {
                border-bottom-left-radius: 0;
            }

            @media (max-height: 650px) {
                flex: 1 1 50%;

                &:nth-of-type(4n) {
                    display: none;
                }
            }
        }

        @media (max-height: 650px) {
            flex: 1 1 50%;

            &:nth-of-type(4n) {
                display: none;
            }
        }        

        @media (max-width: 500px) {
            margin: 0;
            padding: 3px 6px;
        }        
    }
}

.ctrls__col--display {
    @extend .ctrls__col;
    background-image: none;
    box-shadow: none;
    margin: 0 3px;
    padding: 3px 0 0;

    @media (max-width: 1200px) {
        order: 1;
        margin: 0;
        padding: 3px 6px 0;
    }
}