* {
    box-sizing: border-box;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}

*:active,
*:focus {
    outline: none;
}

input,
input::-webkit-slider-runnable-track,
input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
    border: none;
}

input,
::-webkit-slider-runnable-track,
::-webkit-slider-thumb,
.ctrl,
.ctrl__slider--env,
.key {
    cursor: pointer;
}